/* Currently we only use UberMove-Medium and UberMoveText-Regular. */

@font-face {
  font-family: "UberMove";
  src: url("https://d1a3f4spazzrp4.cloudfront.net/dotcom-assets/fonts/UberMove-Medium.woff2")
      format("woff2"),
    url("https://d1a3f4spazzrp4.cloudfront.net/dotcom-assets/fonts/UberMove-Medium.woff")
      format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "UberMoveText";
  src: url("https://d1a3f4spazzrp4.cloudfront.net/dotcom-assets/fonts/UberMoveText-Regular.woff2")
      format("woff2"),
    url("https://d1a3f4spazzrp4.cloudfront.net/dotcom-assets/fonts/UberMoveText-Regular.woff")
      format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* Set global CSS */

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

::selection {
  background: #276ef1;
  color: white;
}
